

#fondo1{
	width:100%;
	height:990px;
	margin:40px 0px;
}

#imagen1{
background-image:url("../img/arabe2.jpeg");

}

#imagen2{
background-image:url("../img/breakdance2.jpeg");
}

#imagen3{
background-image:url("../img/lirical-jazz2.jpeg");

}

#imagen4{
background-image:url("../img/little2.jpeg");


}

.left{
	margin-left:4% !important;
}




.imgfondo{
height:480px;
background-repeat:no-repeat;
width:30%;
background-size:100%;
margin-bottom:3%;
margin-left: 1%;
}

.black-opacity{ /*fondo opacity*/
	background-color:black;
	width:70%;
	height:100px;
	margin:auto;
	display:block;
	margin-top:155px;
	opacity:0.4;
	padding-top:10px;
}

h2{
	margin:15px 0px;
	
}

.marg{
margin-top:30px;
margin-left:15px;
}

h5{
	margin-top:5px;
	font-size:16px;
	
}

p{
	font-size:14px;
	margin-top:10px;
}